    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Footer</title>
    </head>
    <body>
        <div th:fragment="footer">
            <footer class="bg-dark fixed-bottom text-center">
                <p class="text-white m-2" >&copy; 2025 Your Company. All rights reserved.</p>
                <a href="https://www.navaantrix.com" class="nav-link m-2 text-white">Visit Us</a>
            </footer>
        </div>
    </body>
    </html>